/* Custom CSS */

.panel .panel-heading .form-group {
	margin-bottom: 0px;
}

.panel .panel-body {
	position:relative;
}

footer .btn-gunis {
	padding-left:0px;
}

#download-btn {
	position:absolute;
	right:0px;
	top:0px;
}